 <div>
    <h2><strong>Appointments</strong></h2>
    {{log appointment}}
    {{#each appointment}}
 <ul class="list-group list-group-flush">
  <li class="list-group-item">{{appointment.date}}</li>
  <li class="list-group-item">{{appointment.time}}</li>
 </ul>
    {{/each}}
      <div>
        <button type="button" class="btn btn-outline-success btn-lg">Create</button>
        <button type="button" class="btn btn-outline-danger btn-lg">Delete</button>
    </div>
 </div>
