<div>
   <h2>Appointments</h2>
 <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Appointment</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="appointment-card">
      <ul class="list-group list-group-flush">
         {{#each appointment}}
         <li class="list-group-item">Appointment Date: {{date}}</li>
         <li class="list-group-item">Appointment Time: {{time}}</li>
      </ul>
         {{/each}}
   </p>
  </div>
</div>
<form class="appointment-form">
    <input type="text" name="date" placeholder="Appointment Date" />
    <input type="text" name="time" placeholder="Appointment Time" />

    <button
      type="submit"
      class="create btn btn-outline-success btn-sm"
    >Create</button>
  </form>
</div>

<script src="/js/appointment.js"></script>
