<div class="row">
  <div class="col-auto text-center">
    <h2 class="text-center">Welcome, {{User.firstName}} {{User.lastName}}!</h2>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    Your Dashboard
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/doctor">Doctors</a>
    <a class="dropdown-item" href="/appointment">Appointments</a>
    <a class="dropdown-item" href="/labs">Lab Results</a>
    <a class="dropdown-item" href="/prescriptions">Prescriptions</a>
  </div>
</div>