{{!-- <div class="row">
  <div class="col-auto text-center">
    <h2 class="text-center">Welcome, {{firstName}} {{lastName}}!</h2>
  </div>
</div> --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4 blue">Welcome, {{firstName}} {{lastName}}!</h1>
    <p class="lead blue">-to your personal health-related tracking hub!</p>
  </div>
</div>

<div class="dropdown text-center dashboard">
  <h4 class="blue">Your Dashboard</h4>
  <div class="dropdown-menu">
    <a class="dropdown-item p-3" href="/doctor">Doctors</a>
    <a class="dropdown-item p-3" href="/appointment">Appointments</a>
    <a class="dropdown-item p-3" href="/lab">Lab Results</a>
    <a class="dropdown-item p-3" href="/prescription">Prescriptions</a>
  </div>
</div>
<script src="/js/dashboard.js"></script>