<div>
   <h2>Doctors</h2>
 <div class="card bg-light mb-3" style="max-width: 18rem;">
         {{#each doctor}}
  <div class="card-header">Doctor</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
      <ul class="list-group list-group-flush">
         <li class="list-group-item">Doctor Name: {{name}}</li>
         <li class="list-group-item">Doctor Specialty: {{specialty}}</li>
      </ul>
   </p>
  </div>
         {{/each}}
</div>
<form class="doctor-form">
    <input type="text" name="name" placeholder="Doctor Name" />
    <input type="text" name="specialty" placeholder="Doctor Specialty" />

    <button
      type="submit"
      class="create btn btn-outline-success btn-sm"
    >Create</button>
  </form>
</div>

<script src="/js/doctor.js"></script>