<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 blue text-center">Welcome to the Health Tracker! </h1>
    <p class="lead blue text-center">All your health related tracking in one convenient location!</p>
    <img id="homepage-image" src="./homepage.jpg" alt="Healthcare image with lots of icons">
  </div>
</div>