<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 blue">Welcome to the Health Tracker! </h1>
    <p class="lead blue">All your health related tracking in one convenient location!</p>
  </div>
</div>