{{!-- <article>
  <a href="/api/labs">&larr; Back to Lab Results</a>

  <form class="edit-lab">
    <input type="text" name="lab-name" value="{{name}}" placeholder="{{name}}"/>
    <input type="text" name="lab-text" value="{{content}}" placeholder="{{content}}"/>

    <button
      type="button"
      class="lab-delete btn btn-outline-danger btn-lg"
    >Delete</button>
  </form>
</article>

<script src="/js/lab_delete.js"></script>
<script src="/js/lab_edit.js"></script>
<script src="/js/lab.js"></script> --}}