 <div>
    <h2><strong>Lab Results</strong></h2>
    {{#each lab}}
 <ul class="list-group list-group-flush">
    <li class="list-group-item">{{name}}</li>
    <li class="list-group-item">{{content}}</li>
 </ul>
    {{/each}}
      <div>
        <button type="button" class="lab-create btn btn-outline-success btn-lg">Create</button>
        <button type="button" class="lab-delete btn btn-outline-danger btn-lg">Delete</button>
    </div>
 </div>