 <div>
    <h2><strong>Lab Results</strong></h2>
    {{#each labs}}
 <ul class="list-group list-group-flush">
    <li class="list-group-item">{{labs.name}}</li>
    <li class="list-group-item">{{labs.content}}</li>
 </ul>
    {{/each}}
      <div>
        <button type="button" class="btn btn-outline-success btn-lg">Create</button>
        <button type="button" class="btn btn-outline-danger btn-lg">Delete</button>
    </div>
 </div>