 <div>
    {{log prescription}}
    {{#each prescription}}
    <ul>
        <li>{{prescription.name}}</li>
        <li>{{prescription.dose}}</li>
        <li>{{prescription.frequency}}</li>
    </ul>
    {{/each}}
 </div>